.form {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 343px;
	height: 48px;
	padding: 16px;

	border: 1px solid var(--light-blue-gray);
	border-radius: 50px;
}

.form:hover {
	border: 1px solid var(--blue-gray-medium);
}

.input:focus .form {
	border: 1px solid var(--blue-gray-medium);
}

.form svg {
	width: 18px;
	height: 18px;
}

.searchSvg {
	width: 18px;
	height: 18px;
	margin-right: 8px;
}

.button {
	width: 18px;
	height: 18px;
}
